*{
  margin-right:0 !important; 
  
}

body { 
  padding-top: 70px; 
}

#bs-example-navbar-collapse-1 {
  padding-right: 150px;
}

.header-content-inner {
  text-align: center;
}

.row {
  float: left;
}